body{
  background-color: #3D348B;
  text-align: center;
}

h1{
  color: #E6AF2E;
  font-size: 70px;
  margin-top: 100px;
}

button, a{
  background-color: #E6AF2E;
  font-size: 20px;
  padding: 10px 15px;
  font-family:'Times New Roman', Times, serif;
  text-decoration: none;
  border: none;
  color: black;
  border-radius: 20px;
}